*{
  height: 100%;
  width: auto;
  margin:0;
  font-family: 'Wallpoet';
}
/*Style for header */

#logo {
  text-decoration: none;
  color: black;
  font-size: 6em;
  height: 700px;
  padding-top: 20px;
  padding-right: 250px;
  background-image:url('../img/Frame3.png');
}
#main_conteiner_burger{
  margin-top: -800px;
  margin-left: 110px;
}
.burger{
  width: 35px;
  height: 4px;
  background-color: black;
  margin: 6px 0;
}
 p{
padding-top: 100px;
text-align: right;
margin-left: -200px;
}
#black_block{
  background-color: black;
  font-size: 0.5em;
  color:white;
  height:200px;
  width: 380px;
  text-align: center;
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: -450px;
  margin-left: 400px;
}

.yourself{
  color:black;
  margin-top: -333px;
  padding-right:610px;
  font-size: 1.7em;
  text-align: right;
  text-shadow: 2px;
  z-index: 55;
  position: relative;

}
#Y_yellow{
  height: 270px;
  width: 40px;
  background-color: yellow;
  opacity:0.6;
  margin-top: -555px;
  margin-left: 880px;
  margin-bottom: 300px;
  position: absolute;
  z-index: 1;
}
a{
  text-decoration: none;
  color:black;
  word-spacing: 60px;
  margin-top: -160px;
  z-index: 2;

}
a #nav_yellow{
  color:yellow;
}
/* Style for article About Us */
.your{
  color:yellow;
  opacity:0.65;
  font-size: 7.5em;
  letter-spacing: 38px;
  text-align: left;
  margin-left: 200px;
  margin-top: 60px;


}
#your2{
  color:black;
  font-size: 7.5em;
  margin-left: 200px;
  margin-top: -580px;

}
.code{
  color:black;
  font-size: 6em;
  margin-top:-790px;
  padding-right:1100px;

}
#text1{
  font-weight: 500;
  font-size: 1.2em;
  text-align: left;
  width: 650px;
  margin-top: -550px;
  margin-left: 650px;
}
#text2{
  margin-top: -700px;
  margin-left: 650px;
  text-indent: 20px;
  font-size: 0.8em;
  width: 650px;
  text-align: left;
}
#horizontal0{
  width: 600px;
  height: 1px;
  background-color: black;
  margin-top: -520px;
  margin-left:650px;
}
/* Style for Services */
#service{
  margin-top: 100px;
  background-size: 1550px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  background-image: url('../img/11.jpg');
/*background-image: url('../img/Frame1.png');*/
}
#service_text{
  width: 500px;
  height:550px;
  background-color: black;
  font-size: 1em;
  color:white;
  margin-left: 750px;
  margin-top:100px;


}
#text_p{
  color:yellow;
  opacity:0.7;
  position: absolute;
  top:150px;
  right:460px;

}
   #horizontal1{
     width: 300px;
     height: 1px;
     background-color: white;
     margin-top: -400px;
     margin-left:850px;
     color:white;
 }
   #horizontal2{
     width: 220px;
     height: 0.01em;
     background-color: white;
     left:890px;
     top: 185px;
     color:red;
     position: absolute;

   }
    #main_text_service{
    position: absolute;
    color:white;
    top:120px;
    right:420px;
    font-size: 1.4em;
}
    #service_main_text{
      position: absolute;
      width: 320px;
      font-size: 0.8em;
      left:840px;
      z-index: 50;
      color:white;
      top:280px;
      opacity: 0.8;


    }
  #about_text{
    z-index:33;

  }
  #improve{
    position: absolute;
    right:1000px;
    top:460px;
    font-size: 1.8em;
    letter-spacing: 7px;
    color:white;
  }
/* Style for yellow article*/

.yellow_article{
  display: flex;
  flex-direction:row;
  background-color: #ffff66;
  height: 900px;
  margin-top: 300px;
  z-index:10;

}
.yellow_article > div{
  padding: 150px;
  margin: 0px;
  width: 350px;
  justify-content: space-between;
  text-align: right;
  z-index: 10;
}
.yellow_h{
  margin-top: 70px;
  text-align: center;
  font-size: 0.9em;
  font-weight: 500;
  width: 400px;
  padding-left: 260px;
  z-index: 20;
}
.yellow_text{
  font-size: 0.7em;
  margin-top: -930px;
  width: 400px;
  padding-left: 260px;
  text-align: left;
  text-indent: 15px;
}
.black_h{
  font-size: 0.8em;
  position: relative;
  height:10px;
  top:-650px;
  margin-left:100px;
  padding: 30px;
  background-color: black;
  color:white;
  width: 350px;}

  #clipping p{
  box-shadow: 5px 12px 16px #888888;
  width: 180px;
  height: 400px;
  box-sizing: border-box;
  margin-top: -170px;
  margin-left: 260px;
  z-index: 60;
  font-size: 1.2em;
  position: absolute;
  padding: 120px 50px 50px;
  background-color: white;
  text-align: center;
}
/* Style for wishes services */
#subscribe_your_wishes {
  background-image:url('../img/sub1.jpg');
  width:auto;
  height: 750px;
  margin-top: -620px;
  margin-bottom: 100px;
}
#sub{
  color: yellow;
  font-size: 2.3em;
  float:right;
  font-weight: 400;
  margin-right: 200px;
  margin-top:200px;
}
#sub_text{
  color: black;
  font-size: 1.2em;
  float:right;
  font-weight: 400;
  margin-right: -440px;
  margin-top:220px;
  width: 450px;
  text-align: left;
}
#Button_sub{
  height: 40px;
  width: 120px;
  background-color: yellow;
  border-radius: 50px 50px;
  float:right;
  border:0px solid yellow;
  margin-top: 430px;
  margin-right: -400px;
  padding: 5px 10px 5px 10px;
  font-size: 0.8em;
}
#vertical_line{
  writing-mode: vertical-rl;
  color: yellow;
  letter-spacing: 5px;
  margin-left: 100px;
  margin-top: -570px;
  font-size: 1.4em;
  background-color: black;
  padding-top:37px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
}
#vertical_line_2{
  writing-mode: vertical-rl;
  color: yellow;
  letter-spacing: 5px;
  margin-left: 150px;
  margin-top: -750px;
  font-size: 1.4em;
  background-color: black;
  padding-top:247px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
}
/* Style for input for charts */

#create_charts{
  color:black;
  font-size: 7em;
  float:right;
  margin-top: -330px;
  margin-right: 250px;
}
#create_yellow_background{
  background-color: yellow;
}
#charts_yellow_background{
  background-color: yellow;
  padding-bottom: 60px;
}
#currency{
  border: none;
  box-shadow:2px 2px #888888;
  padding:7px;
  border-radius:50px 50px;
  height: 40px;
  width: 150px;
  position: relative;
  top: -420px;
  margin-left: 470px;
  background-color:white;
}
#currency:{
  border-radius: 50px 50px;
  decoration:none;
}
#cdate{
  border-radius:50px 50px;
  background-color:black;
  color:white;
  border:0px solid black;
  box-shadow:2px 2px #888888;
  padding:7px;
  height:30px;
  position: relative;
  margin-left: 50px;
  top:-420px;
}
#data{
  border: none 1px black;
  width:100px;
  height:40px;
  border-radius:50px 50px;
  box-shadow: 2px 2px #888888;
  position: relative;
  margin-left: 580px;
  top:-400px;
}
#yellow_line{
  height: 25px;
  background-color: #ffff33;
  margin-top: -350px;
}
/* Charts div */
#main_charts_div{
  height: 700px;
  background-image:url('../img/background_chart1.jpg');
}
#create_schedule{
  color: black;
  background-color: #ffff33;
  height:40px;
  border-radius: 50px 50px;
  border:none;
  padding:10px;
  margin-left: 150px;
  position: relative;
  top: -200px;
}
#create_schedule:active{
  border-radius: 50px 50px;
  decoration:none;
}
#container{
  width: 1000px;
  height: 450px;
  margin-top:-160px;
  margin-right:100px;
  margin-bottom: 60px;
  margin-left: 60px;

}
